/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/* Resets */

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

//variables
$black: #1c1c1c;
$yellow: #f8ce15;
$white: #fefefe;
$grey: #4b4844;
$light-grey: rgb(146, 145, 145);
$platinum: #dcd8d2;

@mixin button {
    background-color: red;
    border-radius: 50px;
    border: 2px solid red;
    cursor: pointer;
    color: white;
    padding: 1% 1%;
    text-decoration: none;
    font-size: 1em;
}

@mixin button2 {
    background-color: red;
    border-radius: 50px;
    border: 2px solid red;
    cursor: pointer;
    color: white;
    padding: 1% 1%;
    text-decoration: none;
    font-size: 1em;
    margin-bottom: 13%;
}

body {
    header {
        padding-bottom: 1%;
        position: relative;
        h1 {
            display: none;
        }
        .navContainer {
            width: 100%;
            display: flex;
            padding: 0% 0.5%;
            background-color: $yellow;
            .logo {
                width: 100px;
                height: auto;
                cursor: pointer;
            }
            .menu {
                margin-top: 1%;
                margin-left: 10%;
                width: 80%;
                .inlineList {
                    display: flex;
                    padding-top: 2%;
                    .navList {
                        list-style: none;
                        font-weight: 700;
                        margin-left: 13%;
                        .aLista {
                            text-decoration: none;
                            color: $black;
                            &:hover {
                                color: $white;
                            }
                        }
                    }
                }    
            }
            .menu2 {
                display: none;
                position: relative;
                width: 80%;
                .aCart {
                    text-decoration: none;
                    color: white;
                    margin-top: 2%;
                    margin-left: 70%;
                    .cart {
                        font-size: 0.8em;
                        position: absolute;
                        top: 26%;
                        left: 90%;
                        color: $white;
                        &:hover {
                            color: $black;
                        }
                    }
                }
                .burguerMenu {
                    &:hover .dropdown {
                        display: block;
                    }
                    .burger {
                        font-size: 1.1em;
                        position: absolute;
                        top: 25%;
                        left: 102%;
                        color: $white;
                        &:hover {
                            color: $black;
                        }
                    }
                    .dropdown {
                        display: none;
                        position: absolute;
                        top: 56%;
                        left: 85%;
                        width: 20%;
                        padding: 3% 22% 3% 3%;
                        z-index: 5;
                        background-color: $black;
                        .navList {
                            list-style: none;
                            padding: 5% 5%;
                            .aLista {
                                text-decoration: none;
                                list-style: none;
                                font-weight: 800;
                                color: $white;
                                font-size: 0.9em;
                                &:hover {
                                    color: $yellow;
                                }
                            }
                        }
                    }
                }
            }
        }    
        .bannerContainer {
            display: flex;
            position: relative;
            background-color: $yellow;
            .fondo {
                width: 45%;
                height: auto;
            }
            .banner {
                display: flex;
                flex-direction: column;
                width: 50%;
                .p1Banner {
                    position: absolute;
                    font-family: 'Alfa Slab One', cursive;
                    top: 10%;
                    left: 5%;
                    width: 50%;
                    color: $black;
                    font-size: 4.3em;
                    font-weight: 900;
                    padding-top: 3%;
                }
                .p2Banner {
                    color: $white;
                    position: absolute;
                    top: 50%;
                    left: 5%;
                    width: 45%;
                    font-size: 1.6em;
                    font-weight: 700;
                    margin-top: 3%;
                }
            }
        }
    }

    main {
        .t4 {
            font-family: 'Alfa Slab One', cursive;
            font-weight: 700;
            text-align: center;
            margin-top: 3%;
        }
        .contenedor {
            display: flex;
            .caja3 {
                width: 20%;
                display: flex;
                flex-direction: column;
                margin-top: 5%;
                margin-left: 4%;
                .categorias {
                    display: flex;
                    flex-direction: column;
                    h2 {
                        margin-bottom: 6%;
                        font-weight: 700;
                        border-bottom: 4px solid $yellow;
                    }
                    .form {
                        display: flex;
                        flex-direction: column;
                        input {
                            margin-top: 2%;
                            float: right;
                        }
                    }
                }
                .carrito {
                    margin-top: 10%;
                    display: flex;
                    flex-direction: column;
                    h2 {
                        margin-bottom: 6%;
                        font-weight: 700;
                        border-bottom: 4px solid $yellow;
                    }
                    .carritoVacio {
                        display: none;
                    }
                    .compraProducto {
                        display: flex;
                        width: 100%;
                        border-bottom: 2px solid $grey;
                        margin-top: 5%;
                        img {
                            width: 100px;
                            height: 90px;
                            margin-right: 10%;
                        }
                        .descripcionProducto {
                            display: flex;
                            flex-direction: column;
                            .nombreProducto {
                                font-weight: 900;
                                font-size: 1.2em;
                            }
                            .cajaCantidad {
                                display: flex;
                                p {
                                    font-size: 1.2em;
                                    font-weight: 900;
                                    margin-right: 15%;
                                }
                                .precioProducto {
                                    color: rgb(107, 107, 107);
                                }
                            }
                            .botonBorrar {
                                text-decoration: none;
                                color: $black;
                                margin-bottom: 5%;
                                margin-left: 70%;
                                border: white;
                                background-color: white;
                            }
                        }
                    }
                }
                .total {
                    font-weight: 700;
                    font-size: 1.2em;
                    margin-top: 5%;
                }
                .botonComprar {
                    @include button
                    &:hover {
                        background-color: #181717;
                        border: 2px solid #181717;
                    }
                }
            }
            .cajaProductos {
                width: 70%;
                display: flex;
                flex-wrap: wrap;
                margin: 5% 3% 0% 3%;
                .cajaProductos1 {
                    display: flex;
                    width: 100%;
                    margin-bottom: 4%;
                    .producto1 {
                        border: 2px solid $grey;
                        width: 28%;
                        padding: 3% 2%;
                        margin: 0 2%;
                        margin-bottom: auto;
                        text-align: center;
                        border-radius: 20px;
                        .imgProducto {
                            width: 200px;
                            height: 150px;
                            margin-bottom: 6%;
                        }
                        .tituloProducto {
                            font-size: 1.2em;
                            color: black;
                            height: 15%
                        }
                        .precio {
                            margin-top: 10%;
                            font-size: 1.5em;
                            color: black;
                            font-weight: 800;
                        }
                        .botonProducto {
                            @include button;
                            padding-top: 4%;
                            padding-bottom: 4%;
                            margin-top: 10%;
                            width: 100%;
                            a {
                                text-decoration: none;
                                color: white;
                            }
                            &:hover {
                                background-color: #181717;
                                border: 2px solid #181717;
                            }
                        }
                    }
                }
                .cajaProductos2 {
                    display: flex;
                    width: 100%;
                    margin-bottom: 4%;
                    .producto1 {
                        border: 2px solid $grey;
                        width: 28%;
                        padding: 3% 2%;
                        margin: 0 2%;
                        margin-bottom: auto;
                        text-align: center;
                        border-radius: 20px;
                        .imgProducto {
                            width: 200px;
                            height: 150px;
                            margin-bottom: 6%;
                        }
                        .tituloProducto {
                            font-size: 1.2em;
                            color: black;
                            height: 15%
                        }
                        .precio {
                            margin-top: 10%;
                            font-size: 1.5em;
                            color: black;
                            font-weight: 800;
                        }
                        .botonProducto {
                            @include button2;
                            padding-top: 4%;
                            padding-bottom: 4%;
                            margin-top: 10%;
                            width: 100%;
                            a {
                                text-decoration: none;
                                color: white;
                            }
                            &:hover {
                                background-color: #181717;
                                border: 2px solid #181717;
                            }
                        }
                    }
                }
                .cajaProductos3 {
                    display: flex;
                    width: 100%;
                    margin-bottom: 4%;
                    .producto1 {
                        border: 2px solid $grey;
                        width: 28%;
                        padding: 3% 2%;
                        margin: 0 2%;
                        margin-bottom: auto;
                        text-align: center;
                        border-radius: 20px;
                        .imgProducto {
                            width: 200px;
                            height: 150px;
                            margin-bottom: 6%;
                        }
                        .tituloProducto {
                            font-size: 1.2em;
                            color: black;
                            height: 15%
                        }
                        .precio {
                            margin-top: 10%;
                            font-size: 1.5em;
                            color: black;
                            font-weight: 800;
                        }
                        .botonProducto {
                            @include button2;
                            padding-top: 4%;
                            padding-bottom: 4%;
                            margin-top: 10%;
                            width: 100%;
                            a {
                                text-decoration: none;
                                color: white;
                            }
                            &:hover {
                                background-color: #181717;
                                border: 2px solid #181717;
                            }
                        }
                    }
                }
                .cajaProductos4 {
                    display: flex;
                    width: 100%;
                    margin-bottom: 4%;
                    .producto1 {
                        border: 2px solid $grey;
                        width: 28%;
                        padding: 3% 2%;
                        margin: 0 2%;
                        margin-bottom: auto;
                        text-align: center;
                        border-radius: 20px;
                        .imgProducto {
                            width: 200px;
                            height: 150px;
                            margin-bottom: 6%;
                        }
                        .tituloProducto {
                            font-size: 1.2em;
                            color: black;
                            height: 15%;
                            width: 105%;
                        }
                        .precio {
                            margin-top: 10%;
                            font-size: 1.5em;
                            color: black;
                            font-weight: 800;
                        }
                        .botonProducto {
                            @include button;
                            padding-top: 4%;
                            padding-bottom: 4%;
                            margin-top: 10%;
                            margin-bottom: 12%;
                            width: 100%;
                            a {
                                text-decoration: none;
                                color: white;
                            }
                            &:hover {
                                background-color: #181717;
                                border: 2px solid #181717;
                            }
                        }
                    }
                }
                .eliminarCategoria {
                    display: none;
                }
            }
        }
    }

    footer {
        display: flex;
        flex-direction: row;
        padding: 3% 6%;
        background-color: $black;
        margin-top: 5%;
        .cajaTienda {
            width: 30%;
            .pb2 {
                color: $white;
                margin-bottom: 15%;
            }    
            .logo2 {
                width: 150px;
                height: auto;
                margin-bottom: 5%;
            }
            .redes {
                display: flex;
                flex-direction: row;
                a {
                    margin-right: 5%;
                    .imgRedes {
                        width: 30px;
                        height: 27px;
                    }
                }
            }
        }
        .cajaLinks {
            width: 30%;
            margin-left: 18%;
            margin-top: 1%;
            .pb3 {
                color: $white;
                font-weight: 800;
                margin-bottom: 10%;
                font-size: 1.2em;
            }
            .navList {
                list-style: none;
                .aLista {
                    color: $white;
                    text-decoration: none;
                    font-weight: 800;
                    &:hover {
                        color: $yellow;
                    }
                }
            }
        }
        .cajaContacto {
            width: 30%;
            margin-left: 12%;
            margin-top: 1%;
            .pb3 {
                color: $white;
                font-weight: 800;
                margin-bottom: 10%;
                font-size: 1.2em;
            }
            .pb2 {
                color: $white;
                margin-bottom: 2%;
            } 
            .pb7 {
                color: $white;
                font-weight: 800;
                margin-bottom: 3%;
                font-size: 1em;
            }
        }
    }
}

/* mediaqueries */
@media (max-width: 1440px) {
    body {
        header {
            .navContainer {
                .menu {
                    margin-left: 13%;
                }
            }
        }
        main {
            .contenedor {
                .cajaProductos {
                    .cajaProductos1 {
                        .producto1 {
                            .botonProducto {
                                margin-bottom: 13%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    body {
        header {
            .navContainer {
                .menu {
                    margin-left: 7%;
                    .inlineList {
                        padding-top: 3%; 
                    }
                }
            }
            .bannerContainer {
                .banner {
                    .p1Banner {
                        font-size: 3.6em;
                    }
                    .p2Banner {
                        font-size: 1.3em;
                    }
                }
            }
        }
        main {
            .contenedor {
                .caja3 {
                    .categorias {
                        h2 {
                            font-size: 1.4em;
                        }
                        .form {
                            label {
                                font-size: 0.8em;
                            }
                        }
                    }
                    .carrito {
                        h2 {
                            font-size: 1.4em;
                        }
                        p {
                            font-size: 0.8em;
                        }
                        .compraProducto {
                            img {
                                width: 90px;
                                height: 80px;
                                margin-right: 10%;
                            }
                            .descripcionProducto {
                                .nombreProducto {
                                    font-size: 1em;
                                }
                                .cajaCantidad {
                                    p {
                                        font-size: 1em;
                                    }
                                }
                            }
                        }
                    }
                }
                .cajaProductos {
                    margin: 5% 1% 0% 1%;
                    .cajaProductos1 {
                        margin-bottom: 4%;
                        .producto1 {
                            padding: 3% 2%;
                            margin: 0 3%;
                            .imgProducto {
                                width: 180px;
                                height: 140px;
                            }
                            .tituloProducto {
                                font-size: 1em;
                            }
                            .precio {
                                font-size: 1.3em;
                            }
                            .botonProducto {
                                @include button2;
                                padding: 3% 1%;
                                font-size: 0.8em;
                            }
                        }
                    }
                    .cajaProductos2 {
                        margin-bottom: 4%;
                        .producto1 {
                            padding: 3% 2%;
                            margin: 0 3%;
                            .imgProducto {
                                width: 180px;
                                height: 140px;
                            }
                            .tituloProducto {
                                font-size: 1em;
                            }
                            .precio {
                                font-size: 1.3em;
                            }
                            .botonProducto {
                                font-size: 0.8em;
                            }
                        }
                    }
                    .cajaProductos3 {
                        margin-bottom: 4%;
                        .producto1 {
                            padding: 3% 2%;
                            margin: 0 3%;
                            .imgProducto {
                                width: 180px;
                                height: 140px;
                            }
                            .tituloProducto {
                                font-size: 1em;
                            }
                            .precio {
                                font-size: 1.3em;
                            }
                            .botonProducto {
                                font-size: 0.8em;
                            }
                        }
                    }
                    .cajaProductos4 {
                        margin-bottom: 4%;
                        .producto1 {
                            padding: 3% 2%;
                            margin: 0 3%;
                            .imgProducto {
                                width: 180px;
                                height: 140px;
                            }
                            .tituloProducto {
                                font-size: 1em;
                            }
                            .precio {
                                font-size: 1.3em;
                            }
                            .botonProducto {
                                @include button2;
                                padding: 3% 1%;
                                font-size: 0.8em;
                            }
                        }
                    }
                }
            }
        }
        footer {
            .cajaLinks {
                margin-left: 13%;
            }
        }
    }
}

@media (max-width: 768px) {
    body {
        header {
            .navContainer {
                .logo {
                    width: 80px;
                    height: auto;
                }
                .menu {
                    display: none;
                    margin-left: 3%;
                    .inlineList {
                        padding-top: 2.5%; 
                        .navList {
                            .aLista {
                                font-size: 0.8em;
                            }
                        }
                    }
                }
                .menu2 {
                    display: inline-block;
                    .aCart {
                        .cart {
                            font-size: 1em;
                            left: 92%;
                        }
                    }
                    .burguerMenu {
                        .burger {
                            font-size: 1.3em;
                        }
                    }
                }
            }
            .bannerContainer {
                .banner {
                    .p1Banner {   
                    font-size: 2.8em;
                    }
                    .p2Banner {
                        font-size: 1em;
                    }
                }
                .fondo {
                    width: 50%;
                    height: auto;
                }
            }
        }
        main {
            .t4 {
                font-size: 1.5em;
            }
            .contenedor {
                .caja3 {
                    .categorias {
                        h2 {
                            font-size: 0.9em;
                        }
                    }
                    .carrito {
                        h2 {
                            font-size: 0.9em;
                        }
                        .compraProducto {
                            img {
                                width: 70px;
                                height: 60px;
                                margin-right: 10%;
                            }
                            .descripcionProducto {
                                .nombreProducto {
                                    font-size: 0.8em;
                                }
                                .cajaCantidad {
                                    p {
                                        font-size: 0.8em;
                                    }
                                }
                                .botonBorrar {
                                    font-size: 0.8em;
                                }
                            }
                        }
                    }
                }
                .cajaProductos {
                    .cajaProductos1 {
                        .producto1 {
                            padding: 1% 2%;
                            .imgProducto {
                                width: 130px;
                                height: 100px;
                            }
                            .tituloProducto {
                                font-size: 1em;
                            }
                            .precio {
                                font-size: 1.1em;
                            }
                            .botonProducto {
                                margin-top: 5%;
                                font-size: 0.7em;
                            }
                        }
                    }
                    .cajaProductos2 {
                        .producto1 {
                            padding: 1% 2%;
                            .imgProducto {
                                width: 130px;
                                height: 100px;
                            }
                            .tituloProducto {
                                font-size: 1em;
                            }
                            .precio {
                                font-size: 1.1em;
                            }
                            .botonProducto {
                                margin-top: 5%;
                                font-size: 0.7em;
                            }
                        }
                    }
                    .cajaProductos3 {
                        .producto1 {
                            padding: 1% 2%;
                            .imgProducto {
                                width: 130px;
                                height: 100px;
                            }
                            .tituloProducto {
                                font-size: 1em;
                            }
                            .precio {
                                font-size: 1.1em;
                            }
                            .botonProducto {
                                margin-top: 5%;
                                font-size: 0.7em;
                            }
                        }
                    }
                    .cajaProductos4 {
                        .producto1 {
                            padding: 1% 2%;
                            .imgProducto {
                                width: 130px;
                                height: 100px;
                            }
                            .tituloProducto {
                                font-size: 1em;
                            }
                            .precio {
                                font-size: 1.1em;
                            }
                            .botonProducto {
                                margin-top: 5%;
                                font-size: 0.7em;
                                margin-bottom: 12%;
                            }
                        }
                    }
                }
            }
        }
        footer {
            .cajaTienda {
                .logo2 {
                    width: 120px;
                    height: auto;
                }
                .pb2 {
                    font-size: 0.8em;
                }
            }
            .cajaLinks {
                margin-left: 14%;
                .pb3 {
                    font-size: 0.9em;
                }
                .navList {
                    font-size: 0.8em;
                }
            }
            .cajaContacto {
                .pb3 {
                    font-size: 0.9em;
                }
                .pb2 {
                    font-size: 0.8em;
                }
                .pb7 {
                    font-size: 0.8em;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    body {
        header {
            .navContainer {
                .menu {
                    display: none;
                }
                .logo {
                    margin-left: 4%;
                    margin-top: 4%;
                    width: 50px;
                    height: auto;
                }
                .menu2 {
                    display: inline-block;
                    i {
                        font-size: 1.2em;
                        left: 102%;
                    }
                    .burguerMenu {
                        .dropdown {
                            width: 37%;
                            left: 70%;
                            top: 80%;
                            .navList {
                                .aLista {
                                    font-size: 0.8em;
                                }
                            }
                        }
                    }
                }
            }
            .bannerContainer {
                .fondo {
                    width: 370px;
                    height: auto;
                    margin-right: 5%;
                    margin-top: 20%;
                }
                .banner {
                    .p1Banner {
                        font-size: 2.2em;
                        width: 100%;
                        left: 23%;
                        top: -6%;
                    }
                    .p2Banner {
                        font-size: 0.8em;
                        width: 100%;
                        left: 16%;
                        top: 12%;
                    }
                }
            }
        }
        main {
            .t4 {
                font-size: 1.3em;
            }
            .contenedor {
                flex-wrap: nowrap;
                .caja3 {
                    width: 40%;
                }
                .cajaProductos {
                    width: 65%;
                    .cajaProductos1 {
                        flex-direction: column;
                        margin-left: 8%;
                        p {
                            margin-bottom: 0rem;
                        }
                        .producto1 {
                            width: 85%;
                            margin-bottom: 7%;
                            .precio {
                                margin-top: 2%;
                                margin-bottom: 3%;
                            }
                        }
                    }
                    .cajaProductos2 {
                        flex-direction: column;
                        margin-left: 8%;
                        p {
                            margin-bottom: 0rem;
                        }
                        .producto1 {
                            width: 85%;
                            margin-bottom: 7%;
                            .precio {
                                margin-top: 2%;
                                margin-bottom: 3%;
                            }
                        }
                    }
                    .cajaProductos3 {
                        flex-direction: column;
                        margin-left: 8%;
                        p {
                            margin-bottom: 0rem;
                        }
                        .producto1 {
                            width: 85%;
                            margin-bottom: 7%;
                            .precio {
                                margin-top: 2%;
                                margin-bottom: 3%;
                            }
                        }
                    }
                    .cajaProductos4 {
                        flex-direction: column;
                        margin-left: 8%;
                        p {
                            margin-bottom: 0rem;
                        }
                        .producto1 {
                            width: 85%;
                            margin-bottom: 7%;
                            .tituloProducto {
                                width: 101%;
                            }
                            .precio {
                                margin-top: 2%;
                                margin-bottom: 3%;
                            }
                        }
                    }
                }
            }
        }
        footer {
            ol, ul {
                padding-left: 0rem;
            }
            .cajaTienda {
                .logo2 {
                    width: 80px;
                    height: auto;
                }
                .pb2 {
                    width: 135%;
                    font-size: 0.8em;
                }
                .redes {
                   a {
                    .imgRedes {
                        width: 20px;
                        height: 18px;
                    }
                    }
                } 
            }
            .cajaLinks {
                padding-left: 0;
                margin-left: 18%;
                .pb3 {
                    font-size: 0.9em;
                }
                .navList {
                    font-size: 0.8em;
                }
            }
            .cajaContacto {
                .pb3 {
                    font-size: 0.9em;
                }
                .pb2 {
                    font-size: 0.8em;
                }
                .pb7 {
                    font-size: 0.8em;
                }
            }
        }
    }
}
